@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */






.roboto-head {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.playwrite-hu-head {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wght" 900, "wdth" 100;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  
  font-kerning: normal;
  font-size: 2.5rem;
  font-variant-ligatures: contextual;

  font-variant-numeric: tabular-nums;
  font-variant-alternates: stylistic;
  font-variant-east-asian: full-width;

  letter-spacing: 0.05em;
  line-height: 1.2;


  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 25px rgba(255, 99, 71, 0.5);

  transition: color 0.3s ease, text-decoration-color 0.3s ease;



}

.playwrite-dk-loopet-head {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.playwrite-dk-loopet-head-date {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.playpen-sans-hebrew-title {
  font-family: "Playpen Sans Hebrew", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wght" 600, "wdth" 100;
  font-feature-settings: "kern" 1, "liga" 1, "clig" 1;
  font-kerning: normal;
  font-size: 2rem;
  font-variant-ligatures: contextual;
  font-variant-caps: small-caps;
  font-variant-numeric: tabular-nums;
  font-variant-alternates: stylistic;
  font-variant-east-asian: full-width;
}

.playpen-sans-hebrew-textT {
  font-family: "Playpen Sans Hebrew", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wght" 600, "wdth" 100;
  /* font-feature-settings: "kern" 1, "liga" 1, "clig" 1; */
  font-kerning: normal;
  font-size: 2rem;
  /* font-variant-ligatures: contextual; */
  font-variant-caps: small-caps;
  /* font-variant-numeric: tabular-nums; */
  /* font-variant-alternates: stylistic; */
  font-variant-east-asian: full-width;
}


@layer utilities {
  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-10px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-dropdown {
    animation: dropdown 0.3s ease-out forwards;
  }
}


.editor-content h1 {
  font-size: 2.875rem; /* text-3xl */
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.editor-content h2 {
  font-size: 2rem; /* text-2xl */
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.editor-content h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}


/* Add this to your global styles or component CSS */
ul[data-type='taskList'] {
  padding-left: 1.25rem;
  list-style: none;
}

ul[data-type='taskList'] li {
  display: flex;
  align-items: center;
}

ul[data-type='taskList'] input[type='checkbox'] {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}
